.spare-change-container {

    border-radius: 5px;

    margin-left: 20px;
}

.hustle-button {
    border-bottom: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.spare-change-img {
    display: block;
    text-align: left;
    width: 150px;
    border-radius: 5px;
}

.squeegee-img {
    display: block;
    text-align: right;
    width: 150px;
    border-radius: 5px;
}

.box > div {
    flex: 1 1 150px;
}

.multiplier {
    display: block;
    font-weight: bold;
    text-align: right;
    top: 0;
}

.hustle-name {
    display: block;
    font-family: Shumi;
    font-size: 2em;
    text-align: left;
}

.hustle-container {
    margin: 20px auto !important;
    margin-top: 170px !important;
    width: 70% !important;
}