.fa-window-close {
    margin-top: 10px;
}

.box {
    margin: 10px;
    overflow: auto;
    width: 100%;
}

img {
    float: left;
}

.hustleinfo {
    margin-top: 30px;
}

.hustletitle {
    font-family: Shumi;
    font-size: 1.25rem;
    text-align: center;
}

.description {
    text-align: center;
    font-size: 1rem;
}

.hustlecost {
    display: block;
    font-size: 1rem;
    text-align: center;
}